.form-container{
    max-width: 800px;
    background: #fff;
    padding: 10px 30px 30px 30px;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
    h1{
        margin-bottom: 30px;
        font-weight: bold;
    }
    input{
        width: 100%;
        margin: 15px 0;
        display: block;
        border-radius: 3px;
        border: 0;
        padding: 10px;
        border: 1px solid rgb(218, 218, 218);
        background: #fff;
        color: #000;
        &::placeholder{
            color: #000;
        }
    }
    label{
        text-align: left;
        display: block;
        font-weight: bold;
    }
    button{
        display: block;
        background: #009d00;
        color: #fff;
        margin: 30px auto 0;
        padding: 15px 35px;
        border-radius: 3px;
        border: 0;
        font-weight: 400;
        outline: none;
        font-size: 15px;
        &:disabled{
            background-color: #464548;
            color: gray;
        }
    }
}