$primary-color: #f3f3f5;
$white: #fff;
$black: #000;
$color_text: #141414;
.post-card{
    background-color: $primary-color;
    margin: 30px 0;
    padding: 28px;
    border-radius: 10px;
    &__information{
        display: flex;
        align-items: center;
        img{
            margin-right: 30px;
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    &__name{
        color: $color_text;
        font-weight: bold;
        span{
            display: block;
            font-size: calc(1rem - 5px);
        }
    }
    &__content{
        color: $color_text;
        padding: 20px 0;
    }
    &__options{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &--option{
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            margin: 0 10px;
            padding: 12px 30px;
            border-radius: 3px;
            border: 1px solid #009d00;
            color: #009d00;
            background: $white;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                padding: 10px 18px;
                img{
                    width: 20px;
                    height: 20px;
                }
            } 
            img{
                margin-right: 10px;
                width: 30px;
                height: 30px;
            }
            &.like{
            }
        }
    }
    .cotainer-comment{
        display: flex;
        flex-wrap: wrap;
        input{
            margin-top: 20px;
            border-radius: 10px;
            padding: 0 20px;
            border: 0;
            min-height: 80px;
            border-radius: 5px;
            outline: none;
            display: block;
            width: 100%;
            color: $black;
            margin-bottom: 16px;
            &::placeholder{
                color: $black;
                transform: translateY(-10px);
            }
        }
        .comment-btn{
            border: 0;
            outline: 0;
            background-color: #009d00;
            color: $white;
            border-radius: 5px;
            padding: 8px 18px;
            font-weight: 600;
            text-transform: capitalize;
        }
        .comment{
            img{
                width: 15px;
                height: 15px;
            }
        }
    }
}